body {
  background: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}

.survey-form {
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 20px;
  padding: 6px;
  align-self: center;
  background: white;
}

#title {
  color: white;
}
